### Import Error?

The Database initialization isn't getting the MongoDB connection and is trying to connect to a local instance instead. Since I'm not running MongoDB locally, it is failing.

In [1]:
import sys
import os
sys.path.append(os.path.abspath('../app'))

from data import Database

In [2]:
db = Database("monsters")

In [3]:
df = db.dataframe()
df.head()

,Name,Type,Level,Rarity,Damage,Health,Energy,Sanity,Timestamp
0,Faerie Dragon,Dragon,4,Rank 3,4d8+3,31.53,33.88,29.55,2024-03-28 14:22:54
1,Hell Hound,Demonic,1,Rank 3,1d8,5.44,10.65,6.87,2024-03-28 14:22:54
2,Kobold Knight,Devilkin,9,Rank 4,9d10,90.11,88.39,90.53,2024-03-28 14:22:54
3,Flame Elemental,Elemental,8,Rank 1,8d4,32.98,32.94,31.27,2024-03-28 14:22:54
4,Wyvern,Dragon,6,Rank 4,6d10,63.24,62.92,61.66,2024-03-28 14:22:54